[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"beautifulsoup4" = "*"
"psycopg2" = "*"
requests = "*"
lxml = "*"
tqdm = "*"
pandas = "*"
html5lib = "*"

[dev-packages]
black = "*"
pylint = "*"
ipdb = "*"

[requires]
python_version = "3.7"
