[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"beautifulsoup4" = "*"
requests = "*"
lxml = "*"
tqdm = "*"
pandas = "*"
html5lib = "*"
dateparser = "*"
psycopg2-binary = "*"

[dev-packages]
black = "*"
pylint = "*"
ipdb = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
