[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"beautifulsoup4" = "*"
"psycopg2" = "*"
requests = "*"
"autopep8" = "*"
"flake8" = "*"

[dev-packages]

[requires]
python_version = "3.7"
